body {
      margin:0;
      font-family:arial,helvetica,sans-serif;
    }
  
    #topbar {
      background-color:#790000;
      width:100%;
      height:40px;
      color:white;
    }
    
    .fixedwidth {
      width:1050px;
      margin:0 auto;
    }

    #logodiv{
      padding-top:5px;
      float:left;
      border-right:1px solid #990000;
      padding-right:10px;
    }

    #signInDiv{
      font-weight:bold;
      padding:6px 80px 12px 20px;
      font-size:.8em;
      float:left;
      border-right:1px solid #990000;
    }

    #signInDiv img {
      position:relative;
      top:3px;
    }

    #topmenuDiv{
      float:left;
    }

    #topmenuDiv ul{
      margin:0;
      padding:0;
    }

    #topmenuDiv li{
      list-style:none;
      font-weight:bold;
      font-size:.9em;
      border-right:1px solid #990000;
      height:100%;
      padding:10px 20px 12px 20px;
      float:left;
    }

    #searchBox{
      float:left;
      padding:5px 0 0 10px;
    }

    #searchBox input{
      height:25px;
      border:none;
      font-size:0.9em;
      padding-left:10px;
      background-image:url("../images/magnify.png");
      background-repeat:no-repeat;
      background-position:right center;
    }

    #newsbar {
      background-color:#990000;
      width:100%;
      height:90px;
      color:white;
    }

    .break{
      clear:both;
    }

    #newsbar p{
      margin:0;
      padding:0;
      padding-top:10px;
      float:left;
    }

    #newsheader{
      font-size:3em;
    }

    #uk{
      font-size:0.7em;
      padding-left:20px;
    }

    #rss{
      float:right;
      margin-top:40px;
    }

    #rss img{
      height:14px;
    }

    #topicmenu{

    }

    #topicmenu ul{
      background-color:#3E0C0D;
      padding:5px 0 0 5px;
      margin:0;
      height:20px;
    }

    #topicmenu li{
      list-style:none;
      font-size:0.8em;  
      border-right:1px solid #990000;
      padding: 0 6px 0 6px;
      float:left;
      background-color:none;
    }

    .selected{
      background-color:#EDEDED;
      color:#666666;
      height:20px;
      position:relative;
      top:-4px;
      padding-top:4px !important;

    }

    #content {
      width:100%;
      color:#535353;
      font-size:0.75em;
    }

    .date{
      font-weight:bold;
    }

    h1 {
      color:#1F4F82;
      font-size:2.5em;
    }

    .headlineImage{
      float:left;
    }

    .newsItem{
      position:relative;
      top:-15px;
      left:10px;
      width:250px;
      float:left;
      font-size:1.1em;
    }

    .newsItem a{
      color:#1F4F82;
    }

    a{
      text-decoration:none;
    }

    a:hover{
      text-decoration:underline;
    }

    .video{
      background-image:url("../images/play_button.png");
      background-size:25px;
      background-repeat:no-repeat;
      background-position:left center;
      padding-left: 27px;
    }

      .speaker{
      background-image:url("../images/speaker_button.jpg");
      background-size:25px;
      background-repeat:no-repeat;
      background-position:left center;
      padding-left: 27px;
    }

    .links{
      line-height:1.6em;
    }

    #watchListen{
      background-color:#EEEEEE;
      float:right;
      width:330px;
      position:relative;
      top:-60px;
    }

    #watchListen li{
      list-style:none;
      left:-35px;
      position:relative;
      top:10px;
      padding:10px 0 5px 10px;
      font-style:bold;
      font-size:1.2em;
      border-bottom:1px solid #DDDDDD;
    }

    .live{
      position:relative;
      background-image:url("../images/live.png");
      background-repeat:no-repeat;
      background-position:left center;
      padding-left:40px;

    }

    h2{
      color:#505050;
      margin:10px 0 20px 10px;
      font-size:1.8em;
    }
    .boxes{
      float:right;
      height:10px;
      margin:20px 10px 0 0;

    }

    .leftarrow{
      float:left;
      border-right:1px solid white;
      position:relative;
      height:126px;
    }

    .rightarrow{
      float:right;
      border-left:1px solid white;
      position:relative;
      height:126px;

    }

    .wlblock{
      float:left;
      background-color:#D1700E;
      width:140px;
      border-right:1px solid white;
    }

    .wlblock a{
      color:white;
    }

    .wlblock p{
      margin:7px 10px 7px 10px;
    }