
.navbar-default .navbar-brand {
  color: #d35400;
  font-size: 2em;
}

.navbar-default .navbar-nav>li>a {
  color: #d35400;
}

.topContainer {
  background-image:url("../images/topImage.jpg");
  height:400px;
  width:100%;
  background-size:cover;
  color: #d35400;
}

#topRow {
  margin-top:85px;
  text-align: center;
}

#topMain {
  margin-top: 70px;
}

#topRow h1 {
  font-size:300%;
}

.bold {
  font-weight:bold;
}

.marginTop {
  margin-top:30px;
}

a {
  color: #d35400;
}

a:hover, a:focus {
  color: white;
  }

#viewCode {
  margin-top: 20px;
}

.navbar-default {
  background: rgba(248,248,248,0.5);
  border-color: rgba(231,231,231,0.5);
}

.btn-sample { 
  color: #ffffff; 
  background-color: #D35400; 
  border-color: #C0392B; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #e67e22; 
  border-color: #C0392B; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #D35400; 
  border-color: #C0392B; 
} 
 
.btn-sample .badge { 
  color: #D35400; 
  background-color: #ffffff; 
}